<% layout("layouts/boilerplate") -%>
<body class="home-page">
    <div class="heading-container">
        <h1 class="heading">Welcome to <span class="stay-color">StaySphere</span></h1>
        <h2 class="tagline">Your gateway to finding the perfect stay, anywhere, anytime</h2>
    </div>
</body>